.button-solo {
  padding: 40px 0px 100px;

  &__btn {
    color: $nightColor;
    background-color: $snowColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    padding: 10px 41px;
    border-radius: 4px;
    display: block;
    border: none;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $skyColor;
      color: $primaryColor;
      transition: $typicalTransition;
      box-shadow: $typicalShade;
    }
  }
}
.button-list {
  display: flex;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 8px;

  &__btn {
    color: $nightColor;
    background-color: $snowColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    padding: 6px 22px;
    border-radius: 4px;
    display: block;
    border: none;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;

    &:hover {
      background-color: $skyColor;
      color: $primaryColor;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      transition: $typicalTransition;
    }
  }
}
.button-down {
  color: $primaryColor;
  background-color: $skyColor;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  padding: 2px 28px 2px 42px;
  border-radius: 4px;
  box-shadow: $typicalShade;
  margin-left: 10px;
  border: $skyColor;
  fill: $primaryColor;
  cursor: pointer;

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    padding-left: 18px;
  }
  &:hover,
  &:focus {
    color: $nightColor;
    background-color: $snowColor;
    transition: $typicalTransition;
    fill: $nightColor;
  }
}
.button-form {
  color: $primaryColor;
  background-color: $skyColor;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  padding: 10px 72px;
  border-radius: 4px;
  box-shadow: $typicalShade;
  margin: 10px 124px;
  border: 0px;
  text-align: center;
  justify-content: center;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $nightColor;
    background-color: $snowColor;
    transition: $typicalTransition;
  }
}
