.down-wall {
  background-color: $fogColor;
  padding: 60px 0px;
  border-top: 1px ridge;

  &__stil {
    font-family: "Raleway", sans-serif;
    color: $primaryColor;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    // margin-left: 52px;
    display: flex;
    //  align-items: center;
    justify-content: center;
  }
}

@media (min-width: 480px) {
  .down-wall {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .down-wall {
    padding: 60px 0px;
    &__stil {
      justify-content: left;
    }
  }
}

.post {
  color: $primaryColor;
  font-style: normal;
  padding-top: 20px;

  &__info {
    padding-bottom: 9px;
  }
  &__contact {
    color: $cloudColor;
    font-style: normal;
    font-size: $pixel;
    line-height: 1.5;
    text-decoration: none;
    // margin-left: 63px;
    display: flex;
    // align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      color: $skyColor;
      transition: $typicalTransition;
    }
  }
}

@media (min-width: 768px) {
  .post__contact {
    justify-content: left;
  }
}

.connect {
  // padding-top: 4px;
  // padding-left: 70px;

  padding: 60px 20px 0px;

  &__join {
    color: $primaryColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    // padding: 0px 120px;
    padding: 0;
    display: flex;
    // align-items: center;
    justify-content: center;
  }
  &__letter {
    background-color: $fogColor;
    width: 450px;
    height: 48px;
    padding-left: 16px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: $typicalTransition;
  }

  &__circles {
    padding-top: 20px;
    gap: 10px;
    margin-left: 0px;
  }
  &__wheel {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;

    &:hover,
    &:focus {
      background-color: $skyColor;
      cursor: pointer;
      transition: $typicalTransition;
    }
  }
  &__social {
    fill: $primaryColor;

    &:hover,
    &:focus {
      fill: $primaryColor;
      cursor: pointer;
      transition: $typicalTransition;
    }
  }
}
@media (min-width: 480px) {
  .connect {
    // padding-top: 4px;
    // padding-left: 70px;
    padding: 4px 70px 120px;
    &__letter {
      //   width: 358px;
      margin-left: 100px;
    }
    &__join {
      // padding: 0px 155px;
      padding: 0;
      // display: flex;
      // align-items: center;
      // justify-content: center;
    }
  }
}
@media (min-width: 768px) {
  .connect {
    // padding-left: 20px;
    padding: 4px 45px;
    &__letter {
      width: 358px;
      margin-left: 0;
    }
    &__join {
      justify-content: left;
    }
  }
}
