.down-wall {
  background-color: $fogColor;
  padding: 0px;
  border-top: 1px ridge;

  &__stil {
    font-family: "Raleway", sans-serif;
    color: $primaryColor;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .down-wall {
    padding: 60px 0px;
  }
}
@media (min-width: 1200px) {
  .down-wall {
    padding: 60px 0px;
    &__stil {
      justify-content: left;
    }
  }
}

.post {
  color: $primaryColor;
  font-style: normal;
  padding-top: 20px;
  margin-left: 50px;

  &__info {
    padding-bottom: 9px;
  }
  &__contact {
    color: $cloudColor;
    font-style: normal;
    font-size: $pixel;
    line-height: 1.5;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-right: 50px;

    &:hover,
    &:focus {
      color: $skyColor;
      transition: $typicalTransition;
    }
  }
}
@media (min-width: 1200px) {
  .post {
    padding: 20px 0px;
    margin-left: 0px;

    &__contact {
      justify-content: left;
    }
  }
}

.connect {
  padding: 60px 20px 0px;
  max-width: 380px;
  width: 100%;

  &__form {
    display: block;
  }
  &__join {
    color: $primaryColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  &__letter {
    background-color: $fogColor;
    max-width: 450px;
    width: 100%;
    padding: 14px 200px 14px 16px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: $typicalTransition;
  }

  &__circles {
    padding-top: 20px;
    gap: 10px;
    margin-left: 0px;
  }
  &__wheel {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;

    &:hover,
    &:focus {
      background-color: $skyColor;
      cursor: pointer;
      transition: $typicalTransition;
    }
  }
  &__social {
    fill: $primaryColor;

    &:hover,
    &:focus {
      fill: $primaryColor;
      cursor: pointer;
      transition: $typicalTransition;
    }
  }
}
@media (min-width: 768px) {
  .connect {
    padding: 0px 10px 100px;

    &__join {
      padding: 0;
    }
  }
}

@media (min-width: 1200px) {
  .connect {
    padding: 4px 0px;
    padding: 4px 0px;
    width: 330px;
    position: relative;
    right: 100px;

    &__form {
      display: flex;
      gap: 10px;
      width: 500px;
    }
    &__letter {
      max-width: 358px;
      margin-left: 0;
    }
    &__join {
      justify-content: left;
    }
    &__circles {
      margin-left: -170px;
    }
  }
}
