.logo {
  height: 60px;

  border-bottom: 1px ridge;
  &__type {
    display: flex;
  }

  &__inter {
    gap: 93px;
  }
}
@media (min-width: 768px) {
  .logo {
    height: 82px;
  }
}
.stil {
  padding: 15px 10px 15px;

  &__icon {
    font-family: "Raleway", sans-serif;
    color: $secondaryColor;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    &:focus {
      color: $skyColor;
    }
  }
  &__breand {
    color: $skyColor;
  }
}
@media (min-width: 768px) {
  .stil {
    padding: 24px 15px 25px;
    &__icon {
      margin-right: 46px;
    }
  }
}
@media (min-width: 1200px) {
  .stil {
    padding: 24px 0px 25px;

    &__icon {
      margin-right: 93px;
    }
  }
}

.pages {
  gap: 46px;
  padding: 0px;
  display: none;

  &__list-item {
    position: relative;
  }
  &__name {
    color: white;
  }
}
@media (min-width: 768px) {
  .pages {
    gap: 23px;
    padding: 32px 0px;
    display: flex;
    &__name {
      color: inherit;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.14;
      text-decoration: none;

      &--active::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        top: 49px;
        border-radius: 2px;
        background: #2196f3;
      }

      &:hover,
      &:focus {
        color: $skyColor;
        transition: $typicalTransition;
      }
    }
  }
}
@media (min-width: 1200px) {
  .pages {
    gap: 46px;
  }
}

.navi {
  margin-left: auto;

  &__contact {
    gap: 0px;
    height: 0px;
    padding: 0px;
    display: none;
  }

  &__color {
    fill: white;
  }
}
@media (min-width: 768px) {
  .navi {
    margin-left: auto;

    &__contact {
      display: block;
      gap: 50px;
      padding: 21px 15px;
    }

    &__color {
      fill: $cloudColor;

      &:hover,
      &:focus {
        fill: $skyColor;
        transition: $typicalTransition;
      }
    }
  }
}
@media (min-width: 1200px) {
  .navi__contact {
    padding: 32px 0px;
    display: flex;
  }
}
