.main-wall {
  background-color: $fogColor;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main.image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px 600px;
  max-width: 1600px;
  margin: 0 auto;

  &__title {
    padding: 100px 252px 0px;
    text-transform: uppercase;
    text-align: center;
  }
}
