.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: relative;
  left: 90%;
  &:focus,
  &:hover {
    color: $skyColor;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 15px;
  color: $nightColor;
  &:hover,
  &:focus {
    color: $skyColor;
  }
}

.mobile-menu {
  background-color: $primaryColor;
  padding-top: 48px;
  padding-left: 40px;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  &__navi {
    padding-bottom: 36px;
  }
  &__distance {
    padding-bottom: 150px;
  }
  &__style {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    &:focus,
    :hover {
      color: $skyColor;
    }
    &--type {
      font-size: 40px;
      line-height: 1.175;
      color: $nightColor;
    }
    &--type-tel {
      font-size: 34px;
      line-height: 1.7;
      color: $cloudColor;
    }
    &--type-mail {
      font-size: 24px;
      line-height: 28px;
      color: $cloudColor;
    }
    &--type-social {
      font-size: 18px;
      line-height: 22px;
      color: $skyColor;
      padding-right: 20px;
    }
    &:hover,
    &:focus {
      color: $skyColor;
      transition: $typicalTransition;
    }
  }
  &__media {
    padding-top: 64px;
    display: flex;
  }
}
