.photo-work {
  position: absolute;
  overflow: auto;
  width: 0;
  height: 0;
  &__overlay {
    background-color: $primaryColor;
    color: $primaryColor;
  }
}
@media (min-width: 1200px) {
  .photo-work {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;

    &__img {
      display: block;
    }

    &__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 370px;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
      color: $primaryColor;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.18;
      text-align: center;
    }
    &__text {
      padding-top: 27px;
    }
  }
}
