.vector {
  padding: 0px 15px;
  gap: 30px;

  &__box {
    width: 450px;
  }

  &__style {
    font-weight: 700;
    font-size: $pixel;
    line-height: 1.14;
    text-align: center;
  }
  &__icon {
    background-color: $snowColor;
    max-width: 450px;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    padding: 25px 0px;
    text-align: center;
  }

  &__text {
    color: $cloudColor;
    font-weight: 400;
    font-size: $pixel;
    line-height: 1.7;
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  // @media (min-width: 480px) {
  .vector__box,
  .vector__icon {
    max-width: 354px;
  }
}

@media (min-width: 1200px) {
  // @media (min-width: 768px) {
  .vector__box,
  .vector__icon {
    max-width: 270px;
  }
}
// }
