.icon {
  width: 45%;
  height: auto;
  fill: $lateColor;
  border: 1px solid $lateColor;
  border-radius: 4px;
  text-align: center;

  &:hover,
  &:focus {
    border: 1px solid $skyColor;
    transition: $typicalTransition;
    fill: $skyColor;
    cursor: pointer;
  }
  &__place {
    padding: 18px;
  }
}
@media (min-width: 768px) {
  .icon {
    max-width: 226px;
  }
}
@media (min-width: 1200px) {
  .icon {
    max-width: 170px;
  }
}
