.photo-port {
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;

  &__glass:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: $typicalTransition;
  }
  &__img {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #2196f3e5;
    color: $primaryColor;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5555;
    justify-content: center;
    padding: 49px 49px 49px 40px;
  }
  &__img:hover &__overlay {
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.photo-title {
  padding: 20px 24px;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;

  &__place {
    height: 36px;
  }
}
