.section-title {
  background-color: $fogColor;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main.image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;

  &__description {
    padding: 100px 252px 0px;
    text-transform: uppercase;
    text-align: center;
  }
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;

  &__titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 50px;
  }
  &__inter {
    gap: 30px;
  }
}
.third-section {
  padding-bottom: 94px;
  padding-top: 0;
}
