.section-title {
  background-color: $fogColor;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main.image@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px 100%;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 0px;
  padding-top: 0px;

  &__description {
    padding: 72px 60px 0px;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .section-title {
    background-size: 768px 100%;
    max-width: 768px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-title {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/main.image@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .section-title {
    background-size: 1600px 100%;
    max-width: 1600px;
    padding-bottom: 94px;
    padding-top: 94px;

    &__description {
      padding: 100px 252px 0px;
    }
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .section-title {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/main.image@3x.jpg");
  }
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;

  &__titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 50px;

    &--color {
      color: $snowColor;
    }
  }
  &__inter {
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .section__inter {
    gap: 30px;
  }
}

@media (min-width: 1200px) {
  .section__titles--color {
    color: $secondaryColor;
  }
}

.third-section {
  height: 0;
  padding-bottom: 0;
  padding-top: 0;
  display: none;
}
@media (min-width: 1200px) {
  .third-section {
    height: auto;
    padding-bottom: 94px;
    padding-top: 0;
    display: flex;
  }
}
